<!DOCTYPE html>
<html>
  <head>
    <title><%= locals.title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= locals.title %></h1>
    <form method="POST" action="/new">
        <label for="name"> Author's Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="message"> Message:</label>
        <input type="text" id="message" name="message" required>
        <button type="submit">Submit</button>
    </form>
</html>
